<!doctype html>
<html>
   <head>
      <!-- Built using SRYDEN Lightning UI and TailwindCSS -->
      <!-- This client area is running Heliactyl <%= settings.version %> -->

      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../assets/tailwind.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
      <link rel="icon" type="image/x-icon" href="https://cdn.discordapp.com/attachments/1161650288374063176/1176161499656495194/Renoir119.png?ex=656ddcc1&is=655b67c1&hm=3d10e76e634ad75eae5128044c2fcd6b2031b7afd6cca3a1cb1a5d21dff2f598&">
   </head>
   <body style="font-family: 'Inter'" class="flex items-center justify-center min-h-screen bg-[#111415]">
    <div class="relative rounded-xl overflow-auto p-8">
        <div class="flex items-center justify-center h-screen"> <!-- Add h-screen class -->
            <button type="button" class="mb-8 inline-flex items-center px-4 py-2 font-semibold leading-6 text-sm rounded-md text-white bg-transparent transition ease-in-out duration-150 cursor-not-allowed" disabled="">
                404: Page not found
            </button>
        </div>
    </div>
</body>
</html>