<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="64206c9a-0166-4bae-8e68-0ac5ba84faaa";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
<nav class="mx-auto flex max-w-7xl items-center justify-between p-2 pb-2 lg:px-8" aria-label="Global">
            <div class="flex lg:flex-1">
               <a href="../dashboard" class="-m-1 p-1.5 inline-flex">
                  <img class="h-9 w-auto" style="margin-top: 3px; margin-right: 3px;" src="https://cdn.discordapp.com/attachments/1161650288374063176/1174430063618441246/SRYDEN217.png?ex=6567903b&is=65551b3b&hm=8925f6294af7fb9431cafef4e80d51dad158a6dea585c92dde21bd218c0c9e5b&" alt="">

                  <!-- Server switcher
                  <div>
<div class="hidden md:block">
                        <button onclick="location.href = '../dashboard';" type="button" class="relative w-full cursor-pointer transition rounded-full bg-[#1f2327] hover:bg-[#23272b] shadow py-1.5 pl-3 pr-10 text-left text-gray-300 sm:text-sm sm:leading-6" aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label">
                           <span class="flex items-center">
                              <div class="h-6 -ml-1 w-6 flex-shrink-0 rounded-full bg-transparent text-center">
                                 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 ml-0.5 mt-0.5 text-gray-500">
                                    <path fill-rule="evenodd" d="M11.622 1.602a.75.75 0 01.756 0l2.25 1.313a.75.75 0 01-.756 1.295L12 3.118 10.128 4.21a.75.75 0 11-.756-1.295l2.25-1.313zM5.898 5.81a.75.75 0 01-.27 1.025l-1.14.665 1.14.665a.75.75 0 11-.756 1.295L3.75 8.806v.944a.75.75 0 01-1.5 0V7.5a.75.75 0 01.372-.648l2.25-1.312a.75.75 0 011.026.27zm12.204 0a.75.75 0 011.026-.27l2.25 1.312a.75.75 0 01.372.648v2.25a.75.75 0 01-1.5 0v-.944l-1.122.654a.75.75 0 11-.756-1.295l1.14-.665-1.14-.665a.75.75 0 01-.27-1.025zm-9 5.25a.75.75 0 011.026-.27L12 11.882l1.872-1.092a.75.75 0 11.756 1.295l-1.878 1.096V15a.75.75 0 01-1.5 0v-1.82l-1.878-1.095a.75.75 0 01-.27-1.025zM3 13.5a.75.75 0 01.75.75v1.82l1.878 1.095a.75.75 0 11-.756 1.295l-2.25-1.312a.75.75 0 01-.372-.648v-2.25A.75.75 0 013 13.5zm18 0a.75.75 0 01.75.75v2.25a.75.75 0 01-.372.648l-2.25 1.312a.75.75 0 11-.756-1.295l1.878-1.096V14.25a.75.75 0 01.75-.75zm-9 5.25a.75.75 0 01.75.75v.944l1.122-.654a.75.75 0 11.756 1.295l-2.25 1.313a.75.75 0 01-.756 0l-2.25-1.313a.75.75 0 11.756-1.295l1.122.654V19.5a.75.75 0 01.75-.75z" clip-rule="evenodd" />
                                 </svg>
                              </div>
                              <span class="ml-3 text-md block truncate">No server selected.</span>
                           </span>
                        </button>
                     </div>
                  </div> -->
               </a>
            </div>
            <div class="hidden lg:flex lg:flex-1 lg:justify-end">
               <a href="https://discord.gg/XCaJngAgdC" class="text-sm font-medium leading-6 mr-8 mt-0.5" style="color: #d8dde1;">
                  <span class="flex items-center">
                     <svg style="color: #68717c;" class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm11.378-3.917c-.89-.777-2.366-.777-3.255 0a.75.75 0 01-.988-1.129c1.454-1.272 3.776-1.272 5.23 0 1.513 1.324 1.513 3.518 0 4.842a3.75 3.75 0 01-.837.552c-.676.328-1.028.774-1.028 1.152v.75a.75.75 0 01-1.5 0v-.75c0-1.279 1.06-2.107 1.875-2.502.182-.088.351-.199.503-.331.83-.727.83-1.857 0-2.584zM12 18a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd" />
                     </svg>
                     <span class="ml-1.5 text-md block truncate">Help & Support</span>
                  </span>
               </a>
               <a href="../account" class="text-sm font-medium leading-6" style="color: #d8dde1;">
                   <span class="flex items-center">
                          <img class="h-6 mt-0.5 -ml-1.5 w-6 flex-shrink-0 rounded-md shadow-lg" src="https://cdn.discordapp.com/avatars/<%= userinfo.id %>/<%= userinfo.avatar %>?size=256" alt="PFP"> 
                       <span class="ml-3 text-md block truncate"><%= userinfo.username %></span>
                   </span>
               </a>
            </div>
         </nav>